@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
  --color-logo-primary: #00796b;
  --color-logo-secondary: #00796b;
  --color-btn-primary: #00897b;
  --color-btn-hover-primary: #4db6ac;

  --color-text-primary: #212121;

  --color-input-default: #9e9e9e;
}

*{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  border-style: none;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.main-header{
  height: 80px;
  padding: 0 25px;
  box-shadow: 0 4px 12px 0 rgba(0 0 0 / 5%);
}

.main-header .header-container{
  height: inherit;
  display: flex;
  align-items: center;
}

.main-header .header-container .logo{
  font-size: 35px;
  font-weight: 700;
  color: var(--color-logo-primary);
  cursor: pointer; 
}

.main-header .header-container .logo::after{
  content: '.com';
  color: var(--color-logo-secondary);
  font-size: 20px;
  font-weight: 300;
  margin-right: 15px;
}

.main-header .header-container .header-navbar{
  width: 600px;
  height: inherit;
  margin-right: 15px;
}

.main-header .header-container .header-navbar ul{
  margin: 0;
  padding: 0;
}

.main-header .header-container .header-navbar ul li{
  float: left;
}

.main-header .header-container .header-navbar ul li a{
  display: block;
  text-align: center;
  padding: 27.5px 16px;
  color: var(--color-text-primary);
  font-weight: 700;
}

.main-header .header-container .header-navbar ul li a:hover{
  border-bottom: 3px solid var(--color-logo-secondary);
}

.header-container .header-search{
  margin-right: 15px;
}

.header-container .header-search .search-input{
  width: 290px;
  padding: 10px 30px;
  border: 1px solid var(--color-input-default);
}

.header-container .header-search .search-input:focus{
  outline: none;
}

.main-header .header-container .header-actions{
  height: inherit;
}

.main-header .header-container .header-actions ul{
  margin: 0;
  padding: 0;
}

.main-header .header-container .header-actions ul li{
  float: left;
}

.main-header .header-container .header-actions ul li a{
  display: block;
  text-align: center;
  padding: 27.5px 10px;
  color: var(--color-text-primary);
  font-weight: 700;
  font-size: small;
}

.main-header .header-container .header-actions ul li a:hover{
  border-bottom: 3px solid var(--color-logo-secondary);
}


/* SECTION */
.filter-product-section{
  margin-top: 20px;
}

.filter-product-section .section-container{
  max-width: 1350px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.filter-product-section .section-container .filters-section{
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  border-left: 0;
}

.filter-product-section .section-container .filters-section h3{
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;

}

.filter-product-section .section-container .filters-section .filters{
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.filter-product-section .section-container .filters-section .filters .filter{
  padding: 6px 5px;
}

.filter-product-section .section-container .products-list{
  border: 1px solid #e0e0e0;
  border-left: 0;
  border-right: 0;
}


.filter-product-section .section-container .products-list .sorting-and-chips{
  border-bottom: 1px solid #e0e0e0;
  height: 45px;
}

.filter-product-section .section-container .products-list .products-result{
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* PRODUCT CARD */

.product-card{
  width: 210px;
  text-align: left;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 10px 30px;
}

.product-card:hover{
  box-shadow: 0 2px 16px 4px rgba(40, 44, 63, 7%);
}

.product-card .product-thumbShim{
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 210px;
  background-color: #282c3f;
  transition: visibility 0s, opacity .5s linear;
  visibility: hidden;
  opacity: 0;
}

.product-card a{
  text-decoration: none;
  display: block;
  height: max-content;
}

/* .product-card .card-image{
  height: 280px;
  width: 100%;
}

.product-card .card-image img{
  width: 100%;
  display: block;
} */

.product .product-imageSliderContainer{
  position: relative;
  width: 210px;
  height: 280px;
}

.product .product-imageSliderContainer .product-sliderContainer{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.product-card .card-content{
  position: relative;
  z-index: 3;
  background: #fff;
  padding: 0 10px;
  height: 100%;
  margin-top: 12px;
  box-sizing: border-box;
  overflow: hidden;
}

.product-card .card-content .product-brand{
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-card .card-content .product-brand h3{
  margin-top: inherit;
  margin-block-start: 0;
}

.product-card .card-content .product-desc{
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

.product-card .card-content .product-desc h4{
  padding-left: 0;
}

.product-card .card-content .product-price{
  line-height: 15px;
  margin: 10px 0 6px;
  white-space: nowrap;
  font-size: 14px;
  color: #282c3f;
  font-weight: 500;
}

.product-card .card-content .product-price .product-discountedPrice{
  font-size: 14px;
  color: #282c3f;
  font-weight: 700;
}

.product-card .card-content .product-price .product-strike{
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.product-card .card-content .product-price .product-discountPercentage{
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

